<span (click)="contentClick()">
  <ng-content></ng-content>
</span>
<div class="option-container" *ngIf="showOptions" #optionContainer>
  <form *ngIf="showSearch">
    <span class="fa fa-times" *ngIf="searchControl.value !== ''" (click)="clearSearch()"></span>
    <span class="fa fa-search" *ngIf="searchControl.value === ''"></span>
    <input class="form-control" placeholder="Search" [formControl]="searchControl">
  </form>

    <label class="container select-all"><input type="checkbox" value="selectAll" (click)="selectAll()"><span>Select All</span><span class="checkmark"></span></label>
    
    <label *ngFor="let option of options" class="container" click="updateSelection(option)">
      <input type="checkbox" value="option.id"><span>{{option.label}}</span><span class="checkmark"></span></label>

</div>