ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.option-container {
  position: absolute;
}

:host(.default) {
  .option-container {
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    margin-top: 0.25rem;
  }
  form {
    position: relative;
    border-bottom: 1px solid #ccc;
    input {
      margin: 0.25rem;
      height: 2rem;
      width: auto;
      padding-right: 2rem;
    }
    .fa {
      position: absolute;
      right: 0.25rem;
      top: 0;
      height: 2rem;
      line-height: 2rem;
      width: 2rem;
      text-align: center;
    }
    .fa-search {
      color: #ccc;
      pointer-events: none;
    }
    .fa-times {
      color: red;
      cursor: pointer;
    }
  }
  li {
    padding: 0 1rem;
    line-height: 2rem;
    border-top: 1px solid #ddd;
    &:first-child {
      border: none;
    }
    &:hover {
      cursor: pointer;
      background: rgba(0, 0, 0, 0.05);
    }
  }
}

.option-container {
  position: absolute;
  border: 1px solid lightgrey;
  border-radius: 5px;
  box-shadow: 0px 4px 6px -4px #888888;
}

/* checkbox container */
.container {
  display: block;
  position: relative;
  padding: 8px 10px 8px 43px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: auto;
}

/* if empty  */
.container-empty {
  display: block;
  position: relative;
  padding: 8px 10px 8px 10px;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: auto;
  color: grey;
}

/* hide default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* create custom checkbox */
.checkmark {
  position: absolute;
  top: 9px;
  left: 8px;
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 5px;
  border: 2px solid lightgrey;
}

/* grey on-hover */
.container:hover input ~ .checkmark {
  background-color: #ccc;
  border: none;
}

.container:hover {
    background-color: rgb(253, 253, 253);
}

/* when checked */
.checked {
  background-color: #007bff;
  border: none;
}

.container input:checked ~ .check-all:after {
  display: block;
}

.container input:checked ~ .check-all {
  background-color: #007bff;
  border: none;
}

/* the checkmark */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* show checkmark when checked */
.checked-with-mark ~ .checkmark:after {
  display: block;
}

/* styling checkmark to look like one */
.container .checkmark:after {
  left: 8px;
  top: 2px;
  width: 8px;
  height: 18px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.select-all {
    border-bottom: .75px solid lightgrey;
    padding-bottom: 6px;
}
















.chips-input-container{
  display: inline-flex;
  border: 1px solid grey;
}

input {
  font-weight: 600;
  border: none;
  outline: none;
  margin-left: 7px;
}

.chip-input-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d41a;
}

.chip-input-items div:hover {
    background-color: #a695957a; 
}

.item-chip{
  border: 1px solid lightgrey;
  background: white;
  padding: 4px 0px;
  border-radius: 10px;
  width: 150px;
  text-align: center;
  color: rgb(37, 37, 37);
}

.delete-icon-chip {
    color: white;
    opacity: 0.7;
    cursor: pointer;
    float: right;
    position: relative;
    right: 7px;
    top: 3px;
    font-size: 12px;
}

.delete-icon-chip:hover {
  opacity: 1;
}