<span (click)="contentClick()">
  <ng-content></ng-content>
</span>

<div class="option-container" [hidden]="!showOptions" #optionContainer>
  <form *ngIf="showSearch">
    <span class="fa fa-times" *ngIf="searchControl.value !== ''" (click)="clearSearch()"></span>
    <span class="fa fa-search" *ngIf="searchControl.value === ''"></span>
    <input class="form-control" placeholder="Search" [formControl]="searchControl" />
  </form>
  <ul>
    <li *ngFor="let option of options" (click)="updateSelection(option)" [ngClass]="{'selected':option.isSelected}">
      {{ option.label }}</li>
  </ul>
</div>